/*  Document By Michael Elert*/

body {
    overflow:hidden;
}

#mercury-info, #venus-info, #earth-info, #mars-info, #jupiter-info, #saturn-info, #uranus-info, #neptun-info, #sun-info{
    position: absolute;
    background-color: white;
    border: solid grey;
    border-width: 0px;
    border-radius: 7%;
    box-shadow: 4px 4px 4px #888888;
    font-size: small;

}

html, body {
    /* The universe takes up all available space */
    width: 99%;
    height: 99%;
    overflow:hidden;
    /* The universe is black */
    background-color: black !important;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;

    /* Play with these numbers to see what it does */
    height: 110px;
    width: 110px;
    margin-top: -55px; 
    margin-left: -55px;
    box-shadow: 0 0 64px red;
    border-color: orange;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;

    -webkit-animation: spin-right 300s linear infinite;
    -moz-animation: spin-right 300s linear infinite;
    -ms-animation: spin-right 300s linear infinite;
    -o-animation: spin-right 300s linear infinite;
    animation: spin-right 300s linear infinite;


}



#mercury {
    position: absolute;
    top: 0;
    left: 50%;

    height: 10px;
    width: 10px;
    margin-left: -5px;
    margin-top: -5px;
}


#mercury-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;

    -webkit-animation: spin-right 20s linear infinite;
    -moz-animation: spin-right 20s linear infinite;
    -ms-animation: spin-right 20s linear infinite;
    -o-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}


#venus {
    position: absolute;
    top: 0;
    left: 50%;
    height: 15px;
    width: 15px;
    margin-left: -7px;
    margin-top: -7px;
}


#venus-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 220px;
    height: 220px;
    margin-top: -110px;
    margin-left: -110px;

    -webkit-animation: spin-right 50s linear infinite;
    -moz-animation: spin-right 50s linear infinite;
    -ms-animation: spin-right 50s linear infinite;
    -o-animation: spin-right 50s linear infinite;
    animation: spin-right 50s linear infinite;
}
#earth {
    position: absolute;
    top: 0;
    left: 50%;

    height: 16px;
    width: 16px;
    margin-left: -8px;
    margin-top: -8px;
}


#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 280px;
    height: 280px;
    margin-top: -140px;
    margin-left: -140px;


    -webkit-animation: spin-right 83s linear infinite;
    -moz-animation: spin-right 83s linear infinite;
    -ms-animation: spin-right 83s linear infinite;
    -o-animation: spin-right 83s linear infinite;
    animation: spin-right 83s linear infinite;
}
#mars {
    position: absolute;
    top: 0;
    left: 50%;

    height: 11px;
    width: 11px;
    margin-left: -5px;
    margin-top: -5px;
}


#mars-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 340px;
    height: 340px;
    margin-top: -170px;
    margin-left: -170px;

    -webkit-animation: spin-right 158s linear infinite;
    -moz-animation: spin-right 158s linear infinite;
    -ms-animation: spin-right 158s linear infinite;
    -o-animation: spin-right 158s linear infinite;
    animation: spin-right 158s linear infinite;
}
#jupiter {
    position: absolute;
    top: 0;
    left: 50%;

    height: 44px;
    width: 44px;
    margin-left: -22px;
    margin-top: -22px;
}


#jupiter-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 460px;
    height: 460px;
    margin-top: -230px;
    margin-left: -230px;

    -webkit-animation: spin-right 988s linear infinite;
    -moz-animation: spin-right 988s linear infinite;
    -ms-animation: spin-right 988s linear infinite;
    -o-animation: spin-right 988s linear infinite;
    animation: spin-right 988s linear infinite;
}
#saturn {
    position: absolute;
    top: 0;
    left: 50%;

    width: 84px;
    height: 84px;
    margin-left: -42px;
    margin-top: -42px;
}


#saturn-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;

    -webkit-animation: spin-right 2460s linear infinite;
    -moz-animation: spin-right 2460s linear infinite;
    -ms-animation: spin-right 2460s linear infinite;
    -o-animation: spin-right 2460s linear infinite;
    animation: spin-right 2460s linear infinite;
}
#uranus {
    position: absolute;
    top: 0;
    left: 50%;

    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
}


#uranus-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 735px;
    height: 735px;
    margin-top: -368px;
    margin-left: -368px;

    -webkit-animation: spin-right 7006s linear infinite;
    -moz-animation: spin-right 7006s linear infinite;
    -ms-animation: spin-right 7006s linear infinite;
    -o-animation: spin-right 7006s linear infinite;
    animation: spin-right 7006s linear infinite;
}
#neptun {
    position: absolute;
    top: 0;
    left: 50%;

    width: 15px;
    height: 15px;
    margin-left: -7px;
    margin-top: -7px;
}


#neptun-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 850px;
    height: 850px;
    margin-top: -425px;
    margin-left: -425px;

    -webkit-animation: spin-right 13744s linear infinite;
    -moz-animation: spin-right 13744s linear infinite;
    -ms-animation: spin-right 13744s linear infinite;
    -o-animation: spin-right 13744s linear infinite;
    animation: spin-right 13744s linear infinite;
}

#pluto {
    position: absolute;
    top: 0;
    left: 50%;

    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}


#pluto-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 950px;
    height: 950px;
    margin-top: -475px;
    margin-left: -475px;

    -webkit-animation: spin-right 20s linear infinite;
    -moz-animation: spin-right 20s linear infinite;
    -ms-animation: spin-right 20s linear infinite;
    -o-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.table {
    border-collapse: collapse !important;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
td {
    border-top: 2px solid #DDDDDD;
    text-align: center;
}
img {
    cursor: pointer; cursor: hand; 
}